@{
    ViewData["Title"] = "Surfing Lessons";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surfing - My Passion</title>
   
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Surfing is my passion!</h1>
        <h2 class="dispaly-4">Are you ready to drop in?</h2>
        <p>Surfing isnt just a hobby, but it is a lifestyle. Surfing allows one to connect to the ocean and feel the energy that comes from it. With some coordination and some practice, you too can start shredding the waves in the sea!</p>
        <!-- path to  images -->
        <img src="~/img/jack-robinson-hawaii (1).jpeg" alt="Surfing" class="img-fluid" />
        <p>As I grew up near the ocean, I developed a deep passion for surfing. Now, I want to share my passion with all those who care to learn! Join me as I share my experiences, tips, and the beauty of surfing.</p> <br />
        <!-- Assuming you have another valid image path or image in the folder -->
        <img src="~/img/surfing-sport.jpeg" alt="Surfing Image" class="img-fluid" /> <br /><br />
        <!-- Navigation Link to the Calculator Page -->
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Calculator">Cost Calculator</a>
    </div>
    <!-- Footer -->
    <footer class="text-center mt-4">
        <p>&copy; 2024 Surfing World. Built with passion by Braxdon Simmons.</p>
    </footer>
</body>
</html>
